body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #69cc6d; /* Green background */
    color: white; /* White text */
    padding: 15px;
    padding-left: 30px;
    z-index: 1000;

}
.call{
    position: absolute;
    top: 0vw;
    left: 5vw;
    font-family: cursive;

}
.content {
    margin-top: 70px; /* Space for the title bar */
    padding: 0px;
    padding-left :0px ;
    font-family: cursive;
}
.logo{
    position: absolute;
    left: 2vw;
}
.mail{
    position: absolute;
    left :20vw;
    top:1.5vw;
}
.mail2{
    position: absolute;
    top: 0vw;
    left: 23vw;
    font-family: cursive;
    color: white;

}
.link1{
    color:white;
    text-decoration: none;
}
.link1:hover{
    text-decoration: underline;
}
.link1:visited{
    text-decoration: none;
}
.login{
    position: fixed;
    top: 0vw;
    left: 94vw;
    color:white;
}
.login2{
    color:white;
    text-decoration: none;

}
.login2:hover{
    text-decoration: underline;
}
.login2:visited{
    text-decoration: none;
}
.home{
    color:rgb(30, 150, 15);
    text-decoration: none;
    position: absolute;
    top:7vw;
    right: 3vw;

}
.home:hover{
    text-decoration: underline;
}
.home:visited{
    text-decoration: none;
}
.upper{
    display: flex;
}
.logo5{
    position: relative;
    left: 3vw;
}
.knowmore{
    position: absolute;
    font-size: large;
    top: 28vw;
    right: 10vw;
    background-color: rgb(0, 0, 0,0.6);
    color :white;
    padding: 30px;
}
.button1{
    padding: 25px;
    padding-top: 25px;
    font-size: large;
    background-color: #69cc6d;
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 15vw;
}
.button1:hover{
    background-color: orange;

}
.site1{
    color:rgb(231, 109, 8);
    padding : 10px;
    padding-left: 50px;

}
.box{
    border: 2px solid black;
    border-color: black;
    color: orange;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}
.content2{
    position: absolute;
    top: 74vw;
    left: 13vw;
}
.profile{
    display: flex;
    border-radius: 200px;
    
    
}
